<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Project Board - Sign Up</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <form action="/auth/sign-up" method="post">
        <h1>Sign Up</h1>
        <span class="input-span">
            <label for="username">username:</label>
            <input type="text" name="username" id="username">
        </span>
        <span class="input-span">
            <label for="password">password:</label>
            <input type="password" id="password" name="password">
        </span>
        <input class="submit" type="submit" value="Sign Up"/>
        <span class="span">You Already have an account? <a href="/auth/login">Log in</a></span>
    </form>
    <span class="error-message">
        <% if(error){ %>
            <p> <%= error %> </p>
        <% } %>
    </span>
</body>
</html>