<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <form action="/project/newProject" method="post">
        <label for="title">title:</label>
        <input type="text" name="title" id="title"><br>
        <label for="description">description:</label>
        <textarea name="description" id="description"></textarea><br>
        <label for="category">category:</label>
        <select name="category" id="category"><br>
            <option value="academic">Academic</option>
            <option value="professional">Professional</option>
            <option value="personal">Personal</option>
        </select><br>
        <label for="tags">tags:</label>
        <input type="text" name="tags" id="tags"><br>
        <label for="date">date:</label>
        <input type="date" name="date" id="date"><br>
        <label for="attachments">attachments:</label>
        <input type="file" name="attachments" id="attachments"><br>
        <!-- <label for="creator">creator:</label>
        <input type="text" name="creator" id="creator"><br> -->
        <button type="submit">Save</button>
    </form>
</body>
</html>