<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <img src="/images/PB-logo.png" alt="Project Board Logo" id="logo">
        </div>
        <div class="navbar-links">
            <% if(user){ %>
                <a href="/home/dashboard" class="navbar-link">Dashboard</a>
                <a href="/auth/logout" class="navbar-link">Logout</a>
            <% }else{ %>
                <a href="/" class="navbar-link">Home</a>
            <% } %>
        </div>
    </div>
</nav>