<% if(user){ %>
    <a href="/">Home</a>
    <a href="/project/all">My Projects</a>
    <a href="/auth/logout">Logout</a>
<% }else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
<% } %>