<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project Hub</title>
</head>
<body>
    <main>
        <h1>Project Board</h1>
        <p>Organize your projects easily</p>
        <div>
          <a href="/auth/login">Login</a>
          <a href="/auth/sign-up">Sign Up</a>  
        </div>
    </main>
</body>
</html>