<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>My Project Board</title>
</head>
<body>
    <div class="container">
        <img src="/images/PB-logo.png" alt="Project Board Logo" class="logo"/>
    </div>
    <main class="home">
        <h1>Project Board</h1>
        <p>A sleek, attractively designed platform for keeping your projects. <br> like a personal gallery for everything you create and achieve! Sign up and make it yours.</p>
        <div>
          <a href="/auth/login">Login</a>
          <a href="/auth/sign-up">Sign Up</a>  
        </div>
    </main>
</body>
</html>