/* From Uiverse.io by Sashank02 - Modified */
body {
    background-color: #edf0e3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 80px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px; 
}

#add-link {
    text-align: center;
    margin-bottom: 30px;
    font-size: 17px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e6e8dc;
    transition: transform 0.4s;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    height: 200px;
    background-color: #70b098;
    border-radius: 4px;
    box-shadow: none;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
    margin: 15px 0 0 10px;
}

.card-body {
    margin: 6px 0 0 10px;
    color: #616161;
    font-size: 15px;
}

.date {
    font-size: 13px;
    float: left;
    color: #616161;
    margin: 28px 0 0 10px;
}

.footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #616161;
}

.empty-state {
    color: #b3b3b3;
    text-align: center;
    margin-top: 50px;
}

.empty-state a {
    color: #70b098;
    text-decoration: none;
}

.empty-state a:hover {
    text-decoration: underline;
}

/* .picture {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
} */